.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  width: 420px;
  margin-right: 105px;
}

.title {
  padding: 0;
  margin: 0 0 19px;
  font-weight: var(--extra-bold);
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  padding: 0;
  margin: 0;
  font-weight: var(--medium);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var(--secondaryTextColor);
}

.textAccent {
  font-weight: var(--extra-bold);
  color: var(--black);
}

.extraSpace {
  display: none;
}


@media (max-width: 767px) {
  .text {
    font-size: 12px;
  }

  .description {
    width: 280px;
    margin: 0;
  }

  .wrap {
    flex-wrap: wrap;
    margin-top: 39px;
  }

  .breaker {
    display: none;
  }

  .extraSpace {
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrap {
    display: grid;
    margin-top: 80px;
  }

  .text {
    font-size: 15.8px;
    line-height: 2.25;
    letter-spacing: 0.02em;
  }

  .description {
    width: 535px;
    margin: 0;

  }
}