.questionForm {
  margin: 28px auto 20px;
  max-width: 820px;
  min-height: 500px;
  padding: 50px 85px 58px 85px;
  background-color: var(--white);
  box-shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
}

@media screen and (max-width: 767px) {
  .questionForm {
    padding: 40px 20px 65px 20px;
    min-height: 400px;
  }
}

@media screen and (min-width: 1279px) {
  .questionForm {
    padding: 50px 37px 58px 57px;
  }
}

.questionNumber {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondaryTextColor);
}

@media screen and (max-width: 767px) {
  .questionNumber {
    font-size: 10px;
    text-transform: uppercase;
  }
}

.questionNumberActive {
  color: var(--accentColor);
  font-weight: 500;
}

.question {
  margin-top: 5px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .question {
    font-size: 12px;
    line-height: 1.5;
  }
}

.question::after {
  content: '';
  display: block;
  margin: 30px auto 30px;
  width: 320px;
  height: 1px;
  background-color: rgba(0, 18, 46, 0.15);
}

@media screen and (max-width: 767px) {
  .question::after {
    width: 130px;
  }
}

.optionsWrapper {
  display: flex;
  flex-direction: column;
}

.optionBox {
  display: flex;
  /* align-items: center; */
  align-items: center;
}

.optionBox:nth-last-child(n + 2) {
  margin-bottom: 15px;
}

/* .optionBox:nth-last-of-type(2) {
  margin-bottom: 35px;
} */

.originalCheckbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.optionAnswer {
  position: relative;
  display: block;

  padding-left: 38px;
}

.checkbox {
  position: absolute;
  top: 1px;
  left: 0;

  width: 18px;
  height: 18px;

  border: 1px solid var(--black);
  border-radius: 50%;
}

.checkboxAccent {
  position: absolute;
  top: 5px;
  left: 4px;

  width: 10px;
  height: 10px;

  background-color: var(--accentColor);
  border-radius: 50%;
}

.optionLabel {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .optionLabel {
    font-size: 10px;
  }
}

.optionInput {
  /* appearance: none; */
  margin-right: 20px;
}

/* .checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-color: var(--white);
}

.optionInput:checked + .checkbox {
  background-color: var(--accentColor);
} */

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 210px;
  margin-left: 210px;
  padding-bottom: 93px;
}

@media screen and (max-width: 767px) {
  .buttonWrapper {
    margin: 0;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .buttonWrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.buttonPrevious,
.buttonNext {
  display: flex;
  width: 210px;
  border: none;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  background-color: var(--white);
  color: var(--black);
  fill: var(--black);
  transition: all 150ms ease-in;
  outline: none;
}

.buttonPrevious:hover,
.buttonNext:hover,
.buttonPrevious:focus,
.buttonNext:focus {
  background-color: var(--accentColor);
  color: var(--white);
  fill: var(--white);
}

.disabledPrevBtn {
  composes: buttonPrevious;
  pointer-events: none;
  background-color: var(--secondaryTextColor);
  color: var(--white);
  fill: var(--white);
}

.disabledNextBtn {
  composes: buttonNext;
  pointer-events: none;
  background-color: var(--labelTextColor);
}

.disabledPrevBtn:focus,
.disabledNextBtn:focus {
  background-color: var(--labelTextColor);
  color: var(--black);
}

@media screen and (max-width: 767px) {
  .buttonPrevious,
  .buttonNext {
    width: 55px;
  }
}

.buttonPrevious {
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .buttonPreviousName {
    display: none;
  }
}

.arrowPrevious {
  margin-right: 11px;
  transform: rotate(180deg);
  fill: inherit;
}

.arrowBlack {
  fill: inherit;
}

.buttonNext {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 20px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .buttonNextName {
    display: none;
  }
}

.buttonSubmit {
  composes: buttonNext;
  display: block;

  text-align: center;
}
