.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    border-bottom: 1px solid var(--headerBorderColor);
    background: var(--primeryBgColor);
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}