.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 250px;
    margin-right: 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
}

.navListForNotLoggedUser {
    composes: navList;
    width: 60px;
}


.link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
}

.activeLink {
    border-bottom: 1px solid #FF6B09;
}

@media (max-width: 767px) {
    .nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }

}

@media (min-width: 1280px) {
    .listItem a {
        font-size: 14px;
    }

    .navList {
        margin-right: 68px;
    }
}