.mainContacts {
  padding-top: 40px;
  padding-bottom: 65px;
}
.link {
  text-decoration: none;
  color: #000000;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  justify-content: center;
}
.list__item {
  width: 295px;
  background: #ffffff;
  margin: 10px;
}
.text__conteiner {
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 29px;
  padding-right: 29px;
}
.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}
.position {
  margin-top: 6px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #555555;
}
.text {
  margin-top: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  letter-spacing: 0.02em;

  color: #000000;
}
.title {
  width: 320px;
  padding-bottom: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
  border-bottom: 1px solid rgba(0, 18, 46, 0.15);
}
.list__social {
  margin: 10px 0;
  display: flex;
}
.item__social {
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .title {
    width: 130px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 30px;
    /* or 136% */
  }
  .list__item {
    width: 280px;
  }
  .text__conteiner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
